{% extends "base.html" %}
{% load prefix %}
{% block headline %}Login{% endblock %}
{% block title %}SUNET Meeting Tools{% endblock %}
{% block content %}
<div id="welcome">
	<p>The SUNET meetingtools is an alternative interface to Adobe Connect. With this tool you can...</p>
	<ul>
		<li>Create self-cleaning rooms.</li>
		<li>Tag rooms to provide easy access to lists of rooms for your university or research group.</li>
		<li>Display lists of rooms on your own website.</li>
		<li>Manage recordings for your rooms.</li>
	</ul>
	<div class="button"><a href="{% prefix %}/accounts/login-federated">Login</a></div>
</div>
{% endblock %}