{% extends "base.html" %}
{% load prefix %}
{% block content %}
{% block beforeform %}{% endblock %}
<div class="page-header">
    <h1>{{formtitle}}</h1>
</div>
<div class="well" style="width: 70%;">
    {% block justbeforeform %}{% endblock %}
    <div>
        <form method="POST" class="form-horizontal">
        {% block beforefields %}{% endblock %}
          {% for field in form %}
            {% if field.is_hidden %}
              {{ field }}
            {% else %}
              <div class="control-group {% if field.field.required %}required{% endif %}" {{ field.row_attrs }}>
                {{ field.errors }}
                <label for="id_{{ field.html_name }}" class="control-label" ><em>{{ field.label }}{% if field.field.required %}<b>*</b>{% endif %}</em></label>
                <div class="controls">{{ field }}</div>
              </div>
            {% endif %}
          {% endfor %}
        <div class="form-actions">
            <input type="button" class="btn" onClick="document.location='{% prefix %}/rooms'" value="{{cancelname}}"/>
            <input class="btn btn-success" type="submit" value="{{submitname}}" />
        </div>
        </form>
    </div>
</div>
{% endblock %}