{% extends "base.html" %}
{% load prefix %}
{% block content %}
{% block beforeform %}{% endblock %}
<h1>{{formtitle}}</h1>
<form method="POST" class="ui-widget ui-corner-all ui-state-highlight bbq infopanel" style="width: 66%">
{% block beforefields %}{% endblock %}
<ul class="links">
  {% for field in form %}
    {% if field.is_hidden %}
      {{ field }}
    {% else %}
      <li class="links {% if field.field.required %}required{% endif %}" {{ field.row_attrs }} style="margin-bottom: 10px;">
        {{ field.errors }}
        <label for="id_{{ field.html_name }}" class="fieldlabel" style="border-bottom: 1px solid #CECECE;"><em>{{ field.label }}{% if field.field.required %}<b>*</b>{% endif %}</em></label>
        <div class="fieldinput">{{ field }}</div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
<ul class="ilist" style="padding-top: 10px; padding-bottom: 5px;">
    <li class="button"><input type="submit" value="{{submitname}}" /></li>
    <li class="button right"><input type="button" onClick="document.location='{% prefix %}/rooms'" value="{{cancelname}}"/></li>
</ul>
</form>
{% endblock %}