{% extends "base.html" %}
{% block content %}
   <div class="page-header">
    <h1>{% block formtitle %}{{formtitle}}{% endblock %}</h1>
   </div>
   {% block beforeform %}{% endblock %}

<form method="POST" enctype="multipart/form-data">
    {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
    <div id="wizard">
        <ol>
            {% for fieldset in form.fieldsets %}
                <li>{{ fieldset.legend }}</li>
            {% endfor %}
        </ol>
	{% for fieldset in form.fieldsets %}
        <div id="{{fieldset.name}}" class="{{ fieldset.classes }}">
          {% if fieldset.description %}
          <p>{{ fieldset.description }}</p>
          {% endif %}
          {% for field in fieldset %}
            {% if field.is_hidden %}
              {{ field }}
            {% else %}
                {{ field.errors }}
                <label for="id_{{ field.html_name }}">{{ field.label }}{% if field.field.required %}<b>*</b>{% endif %}</label>
                {{ field }}
            {% endif %}
          {% endfor %}
            <style type="text/css">
                .bwizard-steps li > div > input.btn { display: none; }
            </style>
            <input class="btn btn-success" type="submit" value="{{ submitname }}" />
        </div>
    {% endfor %}
    </div>
  </form>

{% endblock %}
