html,body { font-size: 80%; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; height: 100%; margin:0; padding:0;}
body { min-width: 800px; width: 100%; }
#container { position: relative; height:auto !important; height: 100%; min-height: 80%; margin-left: 0px; margin-top: 0; padding-bottom: 90px;}
.centered { margin-right: auto; margin-left: auto;  width: 800px;  }
#footer { width: 100%; position: absolute; bottom: 0; padding-bottom: 20px; background-color: #CECECE; }
ul.list-of-lists { list-style: none; padding: 0; margin: 0; margin: 0;  padding: 0; padding-bottom: 30px; }
ul.list-of-lists li { display: inline; }
ul.list-of-lists li ul { float: left; padding-right: 50px; }
ul.list-of-lists li ul li { display: block; }
#content{ padding-bottom: 50px; width: 100%;}
#header { background-image: url('../img/sidhuvudbakgrund.jpg'); background-position: top center; background-repeat: repeat-x;  }
#header img { padding-top: 20px; }
#welcome { font-size: 150%; margin-top: 100px;}
h3.listheader { padding-left: 20px; }
.navlist ul { list-style: none; padding: 0; margin: 0; font-size: 90%; }
.navlist li { float: right; display: inline;}

ul.ilist { list-style: none inside; margin: 0; padding 0; padding-left: 0px}
.ilist li { display: inline-block; margin: 0; padding 0; }

ul.rlist { list-style: none inside; padding: 0; margin: 0; padding-left: 0px}
.rlist li { float: right; display: inline; padding: 0; margin: 0; }

ul.clist { list-style: none; padding: 0; margin: 0;}
.clist li { display: list-item; padding: 0; margin: 0;}

.nlist ul { list-style: none; }
.nlist li { display: list-item; list-style: none; }
.square li { list-style: none inside none; }

.description { clear: both; margin-top: 10px; padding-top: 15px; }
div.toolbar{ padding: 4px; float: right; margin-right: 30px; margin-bottom: 20px; margin-top: 50px; }
#linklist { float: right; }
#linklist ul{ list-style: none; padding: 0; margin: 0; }
#linklist li{ float: left; margin: 0 0.15em}
#linklist a{ font: 120% "Trebuchet MS", sans-serif; }
.clear { clear: both; }
.code{font: 110% "Courier", fixed}
#rhs{ float: right; margin-right: 80px; width: 20%; }
#main{ float: left; margin-left: 0px; width:70%}
.code{font: 110% "Courier", fixed}
.infopanel { padding: 1em 2.2em; }
div .hidden {visibility:hidden;}
form .ui-widget ul,ol { list-style: none inside; padding: 0; margin: 0; }
form .ui-widget li { float: right; border-right: 1px solid #CECECE; padding-right: 5px; margin: 0; vertical-align: middle;}
form fieldset legend { font-size: 120%; font-weight: bold; padding: 5px; }
form fieldset { margin-left: 20px; }
form fieldset input[type=text] { height: 25px; }
form fieldset label {font-weight: bold; }
.error { padding: 5px; }
div.room { overflow-y: hidden; overflow-x: hidden; }
ul.links { list-style: none inside; padding: 0; margin: 0; }
li.links { padding: 0; margin: 0; }
form .ui-widget ul { list-style: none inside; padding: 0; margin: 0; }
form .ui-widget li { float: right; border-right: 1px solid #CECECE; padding-right: 5px; margin: 0; vertical-align: middle;}
.ui-icon { display: inline-block !important; vertical-align: bottom; }
.spinner { margin-left: 10px; }
.spinner > div { width: 16px; vertical-align: bottom; }
.minipanel { padding-top: 5px; padding-bottom: 5px; padding-left: 6px; padding-right: 6px; }
.right  { float: right; }
.left { float: left; }
.fieldinput ul { list-style: none inside; padding: 0; margin: 0; }
.fieldinput li { padding: 0; margin: 0; display: inline; float: left; }
div .fieldinput { margin-top: 10px; }
a, a:hover, a:visited {
	color: #E37424;
	text-decoration: none;
}
h1, h1 a {
	color: #E37424;
	font-size: 220%;
}
h2, h2 a {
	color: #E37424;
	font-size: 150%
}