{% extends "base.html" %}
{% block js %}
    <link href="{{STATIC_URL}}/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{STATIC_URL}}/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#content').dataTable();
        });
    </script>
{% endblock %}
{% load content_tags %}
{% block content %}
<h1>Content for {{username}}</h1>
<div>
    <strong>Number of files:</strong> {{ content|length }} | <strong>Total storage:</strong> {{ total_bytecount.bytecount__sum|humanize_bytes }}
</div>
 <br>
 <br>
<div>
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="content">
        <thead>
            <tr>
                <th>Created</th><th>Name</th><th>Type</th><th>Filesize</th><th>Modified</th><th>Views</th><th>Last viewed</th>
            </tr>
        </thead>
        <tbody>
        {% for item in content %}
            <tr>
                <td>{{ item.created }}</td>
                <td>{{ item.name }} <a href="{{ item.download_url }}"><i class="icon-download"></i></a></td>
                <td>{{ item.type }}</td>

                <td>{{ item.bytecount|humanize_bytes }}</td>
                <td>{{ item.modified }}</td>
                <td>{{ item.views }}</td>
                <td>{{ item.lastviewed }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block widgets %}

{% endblock %}