{% extends "base.html" %}
{% block content %}
<div class="page-header">
    <h1>Choose which room to visit</h1>
</div>
<div class="alert">
    <i class="icon-info-sign"> </i>
    Multiple rooms match your search. Please select which one to visit from the list below:
</div>
   <dl>
   {% for room in rooms %}
        <dt><a href="{{BASE_URL}}go/{{room.id}}">{{room.name}}</a><dt>
        <dd>
            Hosted on {{room.sco.acc.name}}
        </dd>
        {% if room.description %}
        <dd>
            {{room.description}}
        </dd>
        {% endif %}
        <dd><a class="btn btn-success btn-small" href="{{BASE_URL}}go/{{room.id}}">Enter Room</a></dd>
   {% endfor %}
   </dl>
{% endblock %}