{% extends "base.html" %}
{% load datehumanize %}
{% block content %}
    <div class="page-header">
	    <h1>Entering {{room.name}}</h1>
    </div>
	<div class="ui-widget">
		<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em; width: 80%"> 
			<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
				<strong>Note</strong> 
				You are about to enter the meeting room '{{room.name}}'. 
				{%if room.nusers == 0 %}
				You are the first user to enter the room.
				{%else%}
				There are {{room.nusers}} other participants in the room right now.
				{% endif %}
				{%if room.nhosts == 0 %} There are no hosts in the room right now. This means that the participants in the room may not be able to make full use of the room.
				If you are hosting this meeting and are comfortable with the Adobe Connect software you may press 'Enter as Host' below to become the first host.
				{% endif %}
			</p>
		</div>
	</div>
	<br/>
	<div>
        <form id="launch" method="GET">
            <a class="btn btn-large" href="/rooms#{{room.id}}">Cancel</a>
            {%if room.nhosts == 0 %}
            <a class="btn btn-large btn-success submitter" data-form="#launch" href="/promote/{{room.id}}">Enter as Host</a>
            {% endif %}
            <a class="btn btn-large btn-primary submitter" data-form="#launch" href="/launch/{{room.id}}">Enter as Participant</a>
            <br/>
            <div>
                <span class="inline" style="vertical-align: bottom;">Try to use add-in? </span>
                <label class="radio inline" for="launcher_true"><input id="launcher_true" checked="checked" type="radio" name="launcher" value="true"/>Yes</label>
                <label class="radio inline" for="launcher_false"><input id="launcher_false" type="radio" name="launcher" value="true"/>No</label>
            </div>
        </form>
	</div>
{% endblock %}