{% extends "edit.html" %}
{% load datehumanize %}
{% load roomurl %}
{% block widgets %}

{% endblock %}
{% block formstyle %}
class="form-inline"
{% endblock %}
{% block justbeforeform %}
<div>
    <div class="alert">
        <i class="icon-info-sign"> </i>
        <strong>Note Well</strong> Tags are a way to group related rooms together. Tagging your
        room makes your room show up in public lists of rooms hosted on this service and it
        therefore makes your room visible. This does <em>not</em> mean that anyone can access
        your room.
    </div>
    {% if tags %}
    <div style="margin-bottom: 20px;">
        {% for tag in tags %}
        <span class="btn-group">
            <a class="btn btn-small" href="/room/+{{tag}}">{{tag}}</a>&nbsp;
            <a class="btn btn-small btn-warning" href="/room/{{room.id}}/untag/{{tag}}"><i class="icon-remove"></i></a>
        </span>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert">There are no tags yet...</div>
</div>
    {% endif %}
{% endblock %}
