/*
 * Structure 
 */
* {
	margin: 0;
}
html, body {
	height: 100%;
	width: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
	width: 100%;
}
.wCont {
	width: 850px;
	margin: 0 auto;
}
.header {
	height: 191px;
}
	#logo {
		display: block;
		background: url(../img/sunet-banner.png);
	}
.footer, .push {
	height: 4em;
}
#menuContL {
	width: 655px;
	float: left;
}
#menuContR {
	float: left;
	padding-left: 15px;
}
.content {
	padding-top: 12px;
	clear: both;
}
.contL {
	float: left;
	width: 620px;
	padding-right: 14px;
	border-right: 1px solid #e5e5e5;
}
.contM {
	float: left;
	width: 420px;
	padding-right: 14px;
	border-right: 1px solid #e5e5e5;
}
.contMenu {
	float: left;
	width: 158px;
	padding: 10px 14px 0 0;
	margin-right: 20px;
	border: 4px solid #c0c0c0;
}
.contR {
	float: left;
	width: 200px;
	padding-left: 15px;
	
}
/*
 * Pseudo 
 */
.fl {
	float: left;
}
.fr {
	float: right;
}
.clr {
	clear: both;
}

/*
 * Menu
 */
.menu {
	list-style: none;
}
.menu li {
	display: inline-block;
	list-style: none;
	text-transform: uppercase;
	height: 28px;
	padding: 18px 8px 0 3px;
}
.selected {
	background: url(../img/act_bg.png) repeat-x;
}
.menu li a {
	color: #000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.breadcrumb li {
	display: inline-block;
	list-style: none;
	text-transform: uppercase;
	height: 12px;
	padding: 0 3px 0 0;
	font-size: 10px;
}
.breadcrumb li a, .breadcrumb li a:link, .breadcrumb li a:hover, .breadcrumb li a:visited {
	color: #000;
}   
.contMenu ul li {
	border-bottom: 1px solid #D9D9D9;
	padding: 3px 0 3px 11px;
}
.contMenu ul li a, .contMenu ul li a:link, .contMenu ul li a:hover, .contMenu ul li a:visited {
	color: #000;
	font-size: 10px;
}
/*
 * Elements
 */
.search {
	background: #fff;
	margin: 11px 3px 0 0;
	float: right;
}
.searchInput {
	border: none;
	font-size: 10px;
	margin: 3px 0 0;
}
.footer {
	background: #EFEFEF;
	border-top: 2px solid #EBEBEB;
	border-bottom: 2px solid #EBEBEB;
	position: absolute;
	bottom: 0;
	padding-bottom: 0px;
}
#footerText {
	padding: 20px 0 0;
	color: #999999;
	font-size: 12px;
}
.blockCont {
	border-top: 6px solid #c0c0c0;
	padding-top: 15px;
}
.infoBlock {
	float: left;
	width: 30%;
	margin-right: 15px;
}
.borderb2 {
	border-bottom: 2px solid #e5e5e5;
	border-top: 2px solid #e5e5e5;
	height: 5px;
}
.borderb2_bold {
	border-bottom: 3px solid #e5e5e5;
	border-top: 3px solid #e5e5e5;
	height: 2px;
}
	
/*
 * Formatting
 */
body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
a, a:hover, a:visited {
	text-decoration: none;
	color: #E37424;
}
h1, h1 a {
	color: #E37424;
	font-size: 36px;
	padding-bottom: 15px;	
}
h2, h2 a {
	color: #E37424;
	font-size: 14px;
	padding-bottom: 15px;	
}
.intro {
	color: #000;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	padding-bottom: 15px;
}
.mb3 {
	margin-bottom: 3px;
}
.pb15 {
	padding-bottom: 15px;
}
.pt15 {
	padding-top: 15px;
}
p {
	color: #999999;
	font-size: 12px;
	padding-bottom: 15px;
	line-height: 16px;
}
.blockCont .category {
	text-transform: uppercase;
	font-size: 10px;
}
.readmore {
	font-size: 12px;
}
.addthis_button_compact {
	font-size: 12px;
	color: #000;
}
.contR .tag {
	font-size: 10px;
	color: #000;
}
.contR a img {
	margin-top: 2px;
}
.contR .date {
	background: url(../img/date_bg.jpg) no-repeat;
	float: left;
	width: 41px;
	height: 66px;
	padding: 7px 0;
	color: #707070;
}
	.contR .date .day, .contR .date .month {
		padding: 0 9px;
		height: 18px;
		font-size: 16px;
	}
	.contR .date .year {
		font-size: 10px;
		padding: 4px 0 0 5px;
	}
	.contR .entry {
		float: left;	
		padding-left: 5px;
	}
	.contR .name {
		padding: 15px 0 5px;
		color: #999999;
		font-size: 12px;
	}
	.contR .event {
		padding-top: 5px;
	}
.ad {
	background: #fff;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;	
}
.ad h2 {
	font-size: 18px;
	text-align: center;
}
.ad .imgCont { 
	width: 100%;
	text-align: center;
} 
#_atssh {
	display: none;	
}
