{% extends "base.html" %}
{% load datehumanize %}
{% block widgets %}
$.ajax({
	url: '/api/stats/room/{{room.id}}',
	method: 'GET',
	success: function (resp) {
	    var graph = $('#graph');
	    series = [{label: 'Meeting minutes for {{room.name}}',data: resp['data']}];
		$.plot(graph,series,{
        	lines: { show: true },
        	points: { show: true },
        	xaxis: { mode: "time" }
    	});
    	$('#minutes').append(resp['minutes']);
    	$('#users').append(resp['users']);
	}
});
{% endblock %}
{% block content %}
<h1>Meeting statistics for {{room.name}}</h1>
<div id="graph" style="width:600px;height:300px; display: block; float: left; margin-right: 30px;"></div>
<div>
<h2>Summary</h2>
<table>
	<tr><td><b>Total minutes:</b></td><td id="minutes"></td></tr>
	<tr><td><b>Total unique users:</b></td><td id="users"></td></tr>
	<tr><td colspan="2" style="padding-top: 10px;"><a href="/stats">Look at your own statistics</a></td></tr>
</table>
</div>
{% endblock %}