{% extends "base.html" %}
{% load prefix %}
{% load datehumanize %}
{% load roomurl %}
{% load prefix %}
{% load tagging_tags %}
{% block widgets %}
    $("#rooms").accordion({
   		header: 'h3',
        active: false,
        event: "click", 
   		collapsible: true,
   		navigation: true,
   		animated: true,
   		autoHeight: false
   	});
{% endblock %}
{% block content %}
	<h1>{{title}}</h1>
	{% if rooms %}
	<div id="rooms">
		{% for r in rooms %}
		<div id="{{r.id}}">
		   <h3 class="listheader">{{r.name}}</h3>
		   <div>
		      <ul class="ilist">
		        <li style="vertical-align: top;">
		           <ul class="nlist square" style="margin-top: 5px;">
			         <li>Created by {{r.creator}} {{r.timecreated|datehumanize}}.</li>
			         {% if r.self_cleaning %}<li>Room will be reset when empty.</li>{%else%}<li>Room state is preserved between sessions.</li>{% endif %}
			         {% if r.lastvisited %}<li>Last visited {{r.lastvisited|datehumanize}}</li>{%endif%} 
			   	     <li>Meeting room URL: <a href="{{r|roomurl}}">{{r|roomurl}}<span style="vertical-align: bottom;" class="ui-icon ui-icon-extlink"></span></a></li>
			  	     <li>Hosted on {{r.acc.name}}</li>
			  	   </ul>
			  	</li>
			  	{% tags_for_object r as tags %}
			  	<li style="vertical-align: top; width: 45%;">
			  		<ul class="nlist">
		   	  		   <li style="margin-top: 5px;" class="infopanel ui-widget ui-corner-all ui-state-highlight"><strong>{{r.name}}</strong><p>{% if r.description %}{{r.description|safe}}{% else %}<em>No description available...</em>{% endif %}</p></li>
			  		   <li style="margin-top: 5px;">Tags: {% for tag in tags %}<a style="margin-right: 5px;" class="ui-widget" href="{% prefix %}/room/+{{tag}}">{{tag}}</a>{% endfor %} {%if edit %}<a style="font-size: 75%;" href="{% prefix %}/room/{{r.id}}/tag"><em>... manage room tags</em></a>{%endif%}</li>
			  		</ul>
			  	</li>
			  </ul>
			   	 
		   	  <br/>
		   	  <ul class="ilist">
		   	  	 <li class="button"><a href="{% prefix %}/go/{{r.id}}">Enter Room</a></li>
		   	  	 {% if edit %}
		   	  	 <li class="button"><a href="{% prefix %}/room/{{r.id}}/tag">Room Tags</a></li>
		   	     <li class="button"><a href="{% prefix %}/room/{{r.id}}/modify">Modify Room</a></li>
		   	     <li class="button"><a href="{% prefix %}/room/{{r.id}}/delete">Delete Room</a></li> 
		   	  	 {% endif %}
		   	  </ul>
		   </div>
		</div>
		{% endfor %}
	</div>
	{% else %}
	<p>You don't have any rooms listed right now...</p>
	{% endif %}
	<br/>
	{% if edit %}
	<ul class="ilist">
	   <li><div class="button"><a href="{% prefix %}/room/create">Create a New Room</a></div></li>
	</ul>
	{% endif %}
{% endblock %}