{% extends "base.html" %}
{% load prefix %}
{% load datehumanize %}
{% load roomurl %}
{% load tagging_tags %}
{% block widgets %}
    $("#rooms").accordion({
   		header: 'h3',
        active: true,
        active: false,
        event: "click",
   		collapsible: true,
   		navigation: true,
   		animated: true,
   		autoHeight: false
   	});
{% endblock %}
{% block meta %}
{% if tags %}
<link rel="alternate" type="application/rss+xml" title="{{title}} (RSS 2.0)" href="{% prefix %}/room/+{{tags}}.rss" />
<link rel="alternate" type="application/atom+xml" title="{{title}} (ATOM 1.0)" href="{% prefix %}/room/+{{tags}}.atom" />
{% endif %}
{% endblock %}
{% block content %}
	<h1>{{title}}</h1>
	{% if rooms %}
	<div id="rooms">
		{% for r in rooms %}
		<div id="{{r.id}}">
		   <h3 class="listheader">{{r.name}}</h3>
		   <div>
		       {% tags_for_object r as tags %}
		       <p><a target="_connect" href="{{r|roomurl}}">{{r|roomurl}}<span style="vertical-align: bottom;" class="ui-icon ui-icon-extlink"></span></a></p>
		  	   <p class="infopanel ui-widget ui-corner-all ui-state-highlight">{% if r.description %}{{r.description|safe}}{% else %}<em>No description available...</em>{% endif %}</p>
		  	   <ul class="nlist square" style="padding-left: 2px;">
		  		  <li>&raquo;&nbsp;Tags: {% for tag in tags %}<a style="margin-right: 5px;" class="ui-widget" href="{% prefix %}/room/+{{tag}}">{{tag}}</a>{% endfor %} {%if edit %}<a style="font-size: 75%;" href="{% prefix %}/room/{{r.id}}/tag"><em>... manage room tags</em></a>{%endif%}</li>
		          <li>&raquo;&nbsp;Created by {{r.creator}} {{r.timecreated|datehumanize}}.</li>
                  <li>&raquo;&nbsp;{%if r.nusers%}There are {{r.nusers}} users present, {{r.nhosts}} of whom are hosts.{%else%}The room is currently unoccupied.{%endif%}</li>
		          {% if r.self_cleaning %}<li>&raquo;&nbsp;Room will be reset when empty.</li>{%else%}<li>&raquo;&nbsp;Room state is preserved between sessions.</li>{% endif %}
		          {% if r.allow_host %}<li>&raquo;&nbsp;First participant can elect to become host.</li>{% endif %}
		          {% if r.lastvisited %}<li>&raquo;&nbsp;Last visited {{r.lastvisited|datehumanize}}</li>{%endif%} 
		  	      <li>&raquo;&nbsp;Hosted on {{r.acc.name}}</li>
		  	   </ul>
		   	  <br/>
		   	  <ul class="ilist">
		   	  	 <li class="button"><a target="_blank" href="{% prefix %}/go/{{r.id}}">Enter Room</a></li>
		   	  	 {% if edit %}
		   	  	 <li class="button"><a href="{% prefix %}/room/{{r.id}}/tag">Room Tags</a></li>
		   	  	 <li class="button"><a href="{% prefix %}/room/{{r.id}}/recordings">Room Recordings</a></li>
		   	     <li class="button"><a href="{% prefix %}/room/{{r.id}}/modify">Modify Room</a></li>
		   	     <li class="button"><a href="{% prefix %}/room/{{r.id}}/delete">Delete Room</a></li> 
		   	  	 {% endif %}
		   	  </ul>
		   </div>
		</div>
		{% endfor %}
	</div>
	{% else %}
	<p>Nothing comes to mind right now...</p>
	{% endif %}
	<br/>
	{% if edit %}
	<ul class="ilist">
	   <li><div class="button"><a href="{% prefix %}/room/create">Create a New Room</a></div></li>
	</ul>
	{% endif %}
{% endblock %}
{% block validators %}
{% if tags %}
<a href="http://feed1.w3.org/check.cgi?url={% baseurl %}{% prefix %}/room/+{{tags}}.atom"><img src="{% prefix %}/site-media/img/valid-atom.png" alt="[Valid Atom 1.0]" title="Validate my Atom 1.0 feed" /></a>
<a href="http://feed1.w3.org/check.cgi?url={% baseurl %}{% prefix %}/room/+{{tags}}.rss"><img src="{% prefix %}/site-media/img/valid-rss-rogers.png" alt="[Valid RSS]" title="Validate my RSS feed" /></a>
{% endif %}
{% endblock %}