<!DOCTYPE html>
<html>
<head>
    <title>Meeting Tools</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <link type="text/css" href="{{STATIC_URL}}/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{theme.base}}/lavish.less" rel="stylesheet/less" type="text/css" />
    <link href="{{STATIC_URL}}/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
    <div class="error-page alert">
        <div class="page-header"><h1>Oh Crap!</h1></div>
        <p>
            Something just went badly wrong with meetingtools... But don't worry, we're on it!
        </p>
    </div>
    <div class="pull-right error-retry">
       <p>In the meantime you could try to <a href="/">go back and try again...</a></p>
    </div>
    <div class="clearfix"></div>
    <hr/>
</div>
</body>